.card {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2em;
  }
  .example-full-width {
    width: 100%;
  }
  .error-message {
    color: #f44336;
    font-size: 14px;
    margin-bottom: 16px;
    width: 100%;
    text-align: center;
  }
}

:host {
  width: 100vw;
  height: 100vh;
  display: flex; align-items: center; justify-content: center;
}
